@media(max-width:1090px) {
    .nav_list {
        gap: 50px;
    }

}



@media(max-width:860px) {
    .nav {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 30px;
        background: var(--dark);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 1s;
    }

    .nav_list {
        flex-direction: column;
    }

    .burger_menu {
        display: block;
    }

    .section1 {
        background: none;
        height: 500px;
    }

    .section1_item {
        width: 100%;
    }

    .section1_title {
        font-size: 40px;
    }

    .footer_container {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: start;
    }

    .footer_list{
        width: 25%;
    }
}

@media (max-width:683px) {
    .cart{
        width: 100%;
    }
    .cart_item{
        flex-wrap: wrap;
    }
}

@media(max-width:660px){
    .footer_item{
        width: 100%;
    }
    .footer_list{
        width: 45%;
    }
}

@media(max-width:610px) {
    .category_list {
        justify-content: space-between;
        gap: 20px;
    }

    .category_item {
        width: 45%;
        text-align: center;
        flex-grow: 1;
    }
}

@media(max-width:580px) {
    .section3_body {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
    }

    .product {
        padding: 10px;
        gap: 10px;
    }

    .product_img {
        width: 90%;
        height: auto;
    }

}

@media(max-width:500px) {
    .header_left {
        gap: 0px;
    }

    .header_container {
        justify-content: center;
        gap: 50px;
    }

    .section1_title {
        font-size: 30px;
    }

    .container {
        padding-inline: 20px;
    }
    .footer_list{
        width: 40%;
        flex-grow: 1;
    }

}

@media(max-width:440px){
    .section3{
        padding-inline: 10px;
    }
}

@media(max-width:420px){
    .section1_title{
        font-size: 29px;
    }
}