* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    outline: none;
    border: none;
    user-select: none;
}
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: ArchitectsDaughter;
    src: url(../fonts/ArchitectsDaughter-Regular.ttf);
}

:root {
    --dark: #000000;
    --dark2: #222222;
    --light: #FFFFFF;
    --gray: #717171;
    --lightBg: #EEEEEE;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 95%;
    max-width: 1300px;
    min-width: 375px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.message {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: var(--gray);
    padding: 10px 20px;
    z-index: 222;
    border-radius: 15px;
    color: var(--light);
    transform: translateX(200%);
    animation: show .8s linear forwards;
}

@keyframes show {
    30% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(0);
    }
    80% {
        transform: translateX(0) translateY(-100px);
        opacity: 1;
    }

    100% {
        transform: translateX(0) translateY(-150px);
        opacity: 0;
    }
}

.header {
    width: 100%;
    min-height: 70px;
    background: var(--dark);
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 122px;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 122px;
}

#select_category {
    padding: 16px 20px;
    background: var(--dark2);
    color: var(--light);

}

#select_category option {
    color: var(--light);
}

.nav_link {
    color: var(--light);
    position: relative;
}

.nav_link::after {
    content: "";
    right: 0;
    height: 2px;
    width: 0%;
    background: white;
    transition: .2s;
    bottom: -3px;
    position: absolute;
}

.nav_link:hover::after {
    left: 0;
    width: 100%;
}

.nav.show {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 999;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.burger_menu {
    color: var(--light);
    font-size: 30px;
    display: none;
}

.cart_icon {
    cursor: pointer;
    position: relative;
}

/* cart */

.cart_items__quantity {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FF0000;
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    top: -10px;
    right: -10px;
}

.cart {
    position: absolute;
    width: 650px;
    height: calc(100vh - 70px);
    background: var(--dark);
    right: 0;
    top: 70px;
    transform: translateX(200%);
    transition: .5s;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 111;
}

.cart_top {
    width: 100%;
    border-bottom: 1px solid var(--light);
    padding-block: 20px;
}

.total_price {
    color: var(--light);
    font-size: 25px;
}

.cart_container {
    width: 100%;
    height: 460px;
    overflow-y: auto;
}

.cart_item {
    min-height: 120px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--gray);
    padding: 10px;
    display: flex;
    gap: 20px;
    color: var(--light);
    align-items: center;
    position: relative;
}

.cart_item_delete {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.cart_item_name {
    margin-block: 10px;
}

.cart_img {
    width: 100px;
    height: 100px;
}

.cart.show {
    transform: translateX(0);
}

.cart_qunatityBox {
    display: flex;
    align-items: center;
    gap: 50px;
}

.quantity_minus,
.quantity_plus {
    padding: 10px 15px;
    background: var(--light);
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.quantity {
    background: var(--light);
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    border-radius: 8px;
}

/* section1 */

.section1 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 726px;
    background: url(../images/banner.png) no-repeat right / contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1_item {
    width: 619px;
    min-height: 300px;
    background: var(--lightBg);
    border-radius: 12px;
    padding: 46px 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
}

.section1_text1 {
    font-size: 18px;
    font-weight: 500;
}

.section1_text2 {
    font-size: 18px;
    font-weight: 500;
}

.section1_title {
    font-size: 62px;
    font-family: ArchitectsDaughter;
}

.section1_btn {
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid var(--dark);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

.section1_btn:hover {
    background: var(--dark);
    color: var(--light);
    transform: scale(1.1);
}


/* section2 start */

.section2 {
    width: 100%;
    max-width: 1440px;
    margin: 40px auto;
    height: 449px;
}

.section2_conatiner {
    height: 100%;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section2 end */

/* section3 start */
.section3 {
    min-height: 1181px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 50px;
    padding-bottom: 51px;
}

/* .section3_top {} */

.section3_title {
    font-size: 40px;
    color: var(--dark);
    text-align: center;
    margin-bottom: 30px;
}

.category_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 47px;
}

.category_item {
    padding: 10px 25px;
    color: var(--dark);
    font-size: 18px;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.category_item.active {
    background: var(--dark);
    color: var(--light);
}

.section3_body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
    grid-auto-rows: auto;
    gap: 30px;
    justify-content: center;
}

.product {
    border: 1px solid var(--gray);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 240px; 
}

.product1 {
    width: 100%;     
    height: 336px;
    overflow: hidden; 
}

.product_img {
    width: 100%;      
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; 
}

.product1:hover .product_img {
    transform: scale(1.1); 
}

.product_brend {
    color: var(--dark);
    font-weight: 500;
    align-self: flex-start;
}

.product_name {
    color: var(--dark);
    font-size: 14px;
    font-weight: 500;
    color: var(--gray);
    align-self: flex-start;
}

.product_price {
    color: var(--dark);
    font-weight: 500;
    font-size: 14px;
    align-self: flex-start;

}

.addToCartBtn {
    background: black;
    width: 100%;
    height: 40px;
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 6px;
}

.addToCartBtn span {
    transition: .5s;
}

.addToCartBtn:hover span {
    transform: rotate(180deg);
}

.section3_btn {
    padding: 10px 20px;
    border: 1px solid var(--dark);
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

/* section3 end */

/* footer start */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
    background: var(--dark);
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_item {
    width: 277px;
}

.footer_title {
    color: var(--light);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer_text {
    color: var(--light);
    font-weight: 500;
    margin-top: 30px;
    font-size: 16px;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_list .footer_title {
    margin-bottom: 10px;
}

.footer_link {
    color: var(--light);
    font-weight: 500;
    transition: .3s;
    position: relative;
}

.footer_link::after {
    content: "";
    right: 0;
    height: 2px;
    width: 0%;
    background: white;
    transition: .2s;
    bottom: -4px;
    position: absolute;
}

.footer_link:hover::after {
    width: 100%;
    left: 0;
}

/* footer end */




